{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/hazur-history-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>History of Nanded</h1>
            <!-- <span class="subheading">This is what I do.</span> -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Nanded is a city in Maharashtra state, situated alongside of Godavari River. It is the eighth largest urban agglomeration of the state and the seventy-ninth most populous city in India. It is the second largest city in Marathwada subdivision. Nanded is the centre of governance of Nanded district. Nanded is a major destination for Sikh pilgrims, because the 10th Sikh Guru (Guru Gobind Singh) made Nanded his permanent abode and passed his guruship to the Guru Granth Sahib before his death in 1708.</p>
        <p>This city is also known as "The city of Gurudwaras" and "The Land of Sanskrit Poets"</p>
        <p>From a copper plate inscription found at Washim, a town approximately 150 kilometres (93 mi) north of Nanded, archaeologists deduce the city was formerly known as Nanditaṭa (Marathi: नंदितट). Another name was Nandigrāma. Folklore suggests that the name "Nanded" developed from Nandi the Vahana of Shiva. Shiva was said to have performed penance on the banks (Taṭa) of the Godavari river. This "Nandi-taṭa" later became "Nanded".</p>
        <p>Nanded is an old and historic centre. Local irrigation practices and Nanded itself are recorded in the treatise, Leela Charitra (late 1200s CE)</p>
        <p>In the 5th and 4th centuries BCE, Nanded was ruled by the Nanda dynasty. In the 3rd century BCE (about 272 to 231 BCE), it was part of the Maurya Empire under Ashoka.In the 1st century CE, power in the area lay with the Andhrabhrtyas and Satvahanas. From 1636, Nanded was the centre of governance of Nizam State, which includes present-day Telangana and Karnataka, and was an imperial province of the Mughal Badshah (emperor) Shah Jahan. In 1657, Nanded merged into Bidah Subah. In 1725, Nanded became part of Hyderabad State. It continued to be part of the Nizam of Hyderabad's dominions until 1948. After India gained independence in 1947, the Indian Armed Forces annexed Hyderabad and ended the rule of the Nizam in Operation Polo, making Nanded part of the new Hyderabad State.</p>
        <p>Nanded remained part of the Hyderabad state until 1956 when it was included in the Bombay Presidency. On 1 May 1960, Maharashtra state was created on a linguistic basis and the Marathi dominant Nanded district became part of Maharashtra. Nanded was the birthplace of three Marathi poet-saints—Vishnupant Shesa, Raghunath Shesa, and Vaman Pandit.</p>
      </div>
    </div>
  </div>
  {% endblock %}