{% extends "layout.html" %}
{% block body %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/rent-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Thinking of renting a car?</h1>
            <span class="subheading">Don't worry we've got that too</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<p>RENT A CAR</p>


{% endblock %}